.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}




input{
    height: 2.5rem;
    width: 16rem;
    border-radius: 4px;
    border: 1px solid grey;
}