.App{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  justify-content: center ;
}

.main-body{
  margin-top: 30px;

  width: 80%;
}

.error{
  background: rgb(142, 126, 129);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width:800px){
  .main-body{
    width: 95%;
  }
}