.App{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  justify-content: center ;
  background-color: rgb(241, 241, 241);
}

.main-body{
  margin-top: 30px;
  background-color: rgb(241, 241, 241);

  width: 80%;
}

.error{
  background: rgb(142, 126, 129);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}